.bg {
  width: 100%;
  height: 35vh;
  background: url('../assets/bg.jpg');
  background-size: cover;
  background-position: 80%;
  background-repeat: no-repeat;
}

main {
  /* padding: 74px; */
  padding: 32px;

  display: flex;
  justify-content: space-between;
}

main .profile {
  min-width: 300px;
}

main .profile img {
  border-radius: 50%;
  width: 80%;
  margin-top: -168px;
}

main .profile h1 {
  margin-top: 32px;

  font-size: 40px;
}

main .profile p {
  margin-top: 32px;
}

main .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  flex: 1;
}
#sobre-mim .image,
#projetos .image,
#habilidades .image,
#cursos .image {
  background-position: 80%;
  background-size: cover;
  width: 100%;
  height: 50%;
  border-radius: 37px 37px 0 0;
  cursor: initial;
}

#sobre-mim .image {
  background-image: url('../assets/sobre_mim.jpg');
}

#projetos .image {
  background-image: url('../assets/projetos.jpg');
}

#habilidades .image {
  background-image: url('../assets/habilidades.jpg');
}

#cursos .image {
  background-image: url('../assets/cursos.jpg');
}

main .items .card-item {
  display: flex;
  flex-direction: column;

  background: var(--card);
  border-radius: 37px;

  min-height: 230px;

  cursor: pointer;

  text-decoration: none;
}

main .items .card-item img {
  width: 100%;
  height: 55%;
  object-fit: cover;

  border-radius: 37px 37px 0 0;
}

main .items .card-item span {
  margin-top: 11px;
  margin-left: 27px;
  font-size: 30px;
  font-weight: 600;
}

.container-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);

  display: none;
  justify-content: center;
  align-items: flex-end;

  animation: showModal .2s;
}

.container-modal.show {
  display: flex;
}

.container-modal .modal {
  width: 60%;
  height: 90%;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-modal);

  border-radius: 40px 40px 0 0;

  position: relative;

  animation: showModalTarget .3s;

}

.container-modal .modal img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
}

.container-modal .modal .close-modal {
  position: absolute;
  top: -10px;
  right: -10px;

  background: var(--close-modal);
  border: 0;
  padding: 10px;
  border-radius: 50%;

  font-size: 32px;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  outline: none;
}

.container-modal .modal .content {
  width: 100%;
  flex: 1;
  padding: 20px;
  overflow: auto!important;
  /* background: #871; */

}

/* .container-modal .modal .content::-webkit-scrollbar {
  width: 10px;
  background: #333;
}

.container-modal .modal .content::-webkit-scrollbar-thumb {
  width: 10px;
  background: #3f3f3f;

} */

.container-modal .modal strong {
  font-size: 32px;
  
}

.container-modal .modal .content .part {
  margin: 20px 0 0  25px ;
}

.container-modal .modal .content .part span {
  font-size: 23px;
  font-weight: 500;
}

@keyframes showModal {
  0% {
    backdrop-filter: blur(0);
   -moz-backdrop-filter: blur(0);
  }

  100% {
    backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
  }
}

@keyframes showModalTarget {
  0% {
    transform: translateY(200px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 966px) {
  main {
    flex-direction: column;
    gap: 40px;
  }

  main .items {
    margin: 0;
  }

  main .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main .profile img {
    width: 245px;
  }

  main .profile h1, main .profile p {
    text-align: center;
  }

  .container-modal .modal {
    width: 90%;
  }
}

.content-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.content-grid .item {
  background: var(--card);
  padding: 16px;
  border-radius: 8px;
  min-height: 150px;
  max-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;

  transition: all .3s;
}

.content-grid .item:hover, .view-ogh:hover {
  background: var(--card-hover);
  transform: translateY(-5px);
}

.no-text {
  justify-content: center;
  align-items: center;
}

.no-text strong {
  font-size: 24px!important;
  text-align: center;
}

.no-text img {
  width: 70px!important;
  border-radius: 0!important;
}

.view-ogh {
  margin-top: 200px;
  padding: 8px;
  background: var(--card);
  text-decoration: none;
  border-radius:8px;
  font-weight: bold;
  transition: .2s;
}


@media (max-width: 608px) {
  main {
    padding: 32px;
  }

  main .items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 340px) {
  main .profile {
    min-width: 100%;
  }
}

